In [17]:
from pymongo import MongoClient
from dotenv import load_dotenv
import os

In [2]:
load_dotenv()
ATLAS_KEY = os.getenv('ATLAS_KEY')

mongodb+srv://davidbreau:ujDoOaXWY5z3kAVD@cluster0.yr0yhhh.mongodb.net/test

In [3]:
client = MongoClient(ATLAS_KEY)

In [4]:
myDb = client["films"]

In [6]:
myCollection = myDb["collection"]

In [11]:
myDoc = {
    '_id' : 1,
    'n':'n',
}

In [12]:
res = myCollection.insert_one(myDoc)

print(res.inserted_id)
print(client.list_database_names())

1
['pymongo', 'admin', 'local']

In [16]:
record = myCollection.find_one()
record

{'_id': ObjectId('643e97e26ea229744b1b0033')}

In [15]:
query = {
    'message' : 'updated message'
}
new_val = {
    '$set' : {'message': 'test updated message'}
}
new_record = myCollection.update_one(query, new_val)

In [ ]:
record_del = my

In [35]:
temps = '2h40m'
heures = int(temps.split('h')[0])
print(heures)
minutes = int(temps.split('h')[1][0:-1])
minutes
temps = (heures*60)+minutes
temps

2

160

In [39]:

def temps_en_minutes(temps:str) -> int :
    if 'h' in temps:
        heures = int(temps.split('h')[0])
        minutes = int(temps.split('h')[1][0:-1])
        temps_en_minutes = (heures*60)+minutes
        return temps_en_minutes
    else:
        minutes = int(temps.split('m')[0])
        return minutes
    
    
print(temps_en_minutes('2h   40m'))
print(temps_en_minutes('49m'))

160
49

In [1]:
import pandas as pd

df = pd.read_csv('film.csv')

In [2]:
df.genre

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
245   NaN
246   NaN
247   NaN
248   NaN
249   NaN
Name: genre, Length: 250, dtype: float64